
<div class="container">
<h1>All the restaurants</h1>

<div class="">
<% @restaurants.each do |restaurant| %>

<%= link_to restaurant_path(restaurant) do%>
<div class="card w-100 col-3 p-3">
<h2><%= restaurant.name %></h2>
<p><%= restaurant.address %></p>
<p><%= restaurant.category %></p>
<p><%= restaurant.phone_number %></p>
</div>
<% end %>
<% end %>


</div>


</div>
